
body {
	background-color: #EFF9D3;
}

h1{
	color: #39253E;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 50px; 
	text-shadow: 0 0 5px green;
}
.para1{
	text-align: center;
	color: darkgreen;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

}
p{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: black;
	font-size: 20px;
}
h2{
	color: darkgreen;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.para2{
	text-align: center;
	color: darkgreen;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.para3{
	text-align: center;
	color: white;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}